.div1{
    margin: 0px;
    border: 10px;
    padding: 10px;
    background-color: black;
    border: 10px solid  blue;
    color: aliceblue;
    box-shadow: 10px 10px 10px purple;
    
}
h3{
    font-size: 30px;
    font-family: monospace;
    font-weight: 800;
    color: blueviolet;
}
p{
    font-size: 20px;
    font-family: monospace;
    color: blue;
}
.div2{
    margin: 0px;
    border: 10px;
    padding: 10px;
    background-color: black;
    border: 10px solid  blue;
    color: aliceblue;
    box-shadow: 10px 10px 10px purple;
    background-image: url(ghostrunner.png);
    background-repeat: none;
    background-size: cover;
    color: white;
}